*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0

figures/pulse_scheme-eps-converted-to.pdf

large_number_squeezing_with_atoms.pdf

figures/volume_effect_on_squeezing-eps-converted-to.pdf

figures/realistic_3d_squeezing_params-eps-converted-to.pdf

figures/pi_pulse-eps-converted-to.pdf

*.watcher_pid

.large_number_squeezing_with_atoms.tex

*.ini

*.fmt

*.fls
